body {
  margin: 0;
  padding: 0;
  background-color: #E7E7E7;
}

#tab-list-container.view.hide, #subsession-list.view.hide {
  display: none;
}

#subsession {
  display: grid;
  grid-template-rows: 1fr 9fr;
  row-gap: 10px;
  margin: 10px;
  place-content: stretch stretch;
  width: 320px;
  height: 280px;
}

ul#features {
  grid-row: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

#features li {
  transition: color .125s, background-color .125s, border-color .125s;
  flex: 14;
  font-weight: 500;
  margin-right: 5px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  user-select: none;
  color: #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#features li, #tab-list li:hover {
  background-color: #696969;
  color: #D3D3D3;
}

#features li div {
  flex: 1;
}

#features li:nth-child(2) {
  flex: 11;
}

#features li.selected, #features li.selected:hover, #features li.selected:active {
  transition: none;
  border-color: #F3F3F3;
  background-color: #FFFFFF;
  color: #000000;
}

#features li:hover, #tab-list li {
  border-color: #DADADA;
  background-color: #D3D3D3;
  color: #696969;
}

#features li:active {
  border-color: #737373;
  background-color: #000000;
  color: #FFFFFF;
}

#features li:last-child {
  flex: 6;
  margin-right: 0;
}

#content {
  grid-row: 2;
}

#tab-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 10px;
}

#tab-list-view {
  flex: 0 0 auto;
  overflow: auto;
}

#tab-list {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
}

#tab-list li {
  margin: 4px 0;
}
#tab-list li:first-child {
  margin: 0 0 4px 0;
}
#tab-list li:last-child {
  margin 4px 0 0 0;
}

#tab-list li label {
  display: inline-block;
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#save-subsession-form {
  flex: 1 0 auto;
}

#save-subsession {
  display: inline;
}
#subsession-name {
  display: inline;
}
