body {
  margin: 0;
  padding: 0;
  background-color: #E7E7E7;
}

#subsession {
  display: grid;
  grid-template-rows: 1fr 7fr;
  row-gap: 10px;
  margin: 10px;
  place-content: stretch stretch;
  width: 320px;
  height: 240px;
}

ul#features {
  grid-row: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

#features li {
  transition: color .125s, background-color .125s, border-color .125s;
  flex: 14;
  font-weight: 500;
  width: 32%;
  display: inline;
  margin-right: 2%;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  user-select: none;
  color: #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#features li, #tab-list li:hover {
  background-color: #696969;
  color: #D3D3D3;
}

#features li div {
  flex: 1;
}

#features li:nth-child(2) {
  flex: 11;
}

#features li.selected {
  border-color: #F3F3F3;
  background-color: #FFFFFF;
  color: #000000;
}

#features li:hover, #tab-list li {
  border-color: #DADADA;
  background-color: #D3D3D3;
  color: #696969;
}

#features li:active {
  border-color: #737373;
  background-color: #000000;
  color: #FFFFFF;
}

#features li:last-child {
  flex: 6;
  margin-right: 0;
}

#content {
  grid-row: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

#tab-list {
  margin: 0;
  padding: 0;
}

#tab-list li {
  margin: 4px 0;
}

#tab-list li label {
  display: inline-block;
  width: 280px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
